.card:hover {
    box-shadow: -3px 3px 6px rgba(40, 68, 3, 0.404);
    transition: all 0.25s linear;
    cursor: pointer;
}

.btnCart {
    background-color: rgb(51, 80, 44) !important;
}

.btnCart:hover {
    background-color: rgb(15, 54, 6) !important;
    box-shadow: -1px 1px 3px rgba(40, 68, 3, 0.404);
    transition: ease-out 0.6s ;
}